/* CSS for website */
<style>
.borderexample
{
border-style:solid;
border-color:#287EC7;
} </style>


/* Theme Custom */

aside.todo { background: #fff8cc; color: #777233; }
aside.note { background: #e3f8ff; color: #226267; }
aside.caution { background: #ffcccc; color: #773333; }
aside.tip { background: #ccffcc; color: #337733; }

aside.todo p:first-of-type::before { content: "TODO: "; }
aside.note p:first-of-type::before { content: "NOTE: "; }
aside.caution p:first-of-type::before { content: "CAUTION: "; }
aside.tip p:first-of-type::before { content: "TIP: "; }

aside.todo, aside.caution, aside.note, aside.tip {
    :last-child {
        margin-bottom: 0 !important;
    }

    p:first-of-type::before { font-weight: bold; }

    padding: 0.5em 1em; margin: 1em 0; font-size: 0.9em;
}


body{
font-family:Arial, Helvetica, sans-serif; 
font-size:13px;
}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('error.png');
}